.c-img {
  display: block;
  position: relative;
  padding-top: 66%; }
  .c-img img, .c-img .bg, .c-img video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit; }

.hv-over {
  display: block;
  position: relative;
  cursor: pointer; }
  .hv-over:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .hv-over:hover:after {
    background: rgba(216, 216, 216, 0.4); }

.hv-scale {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top; }
  .hv-scale img {
    backface-visibility: hidden;
    transition: opacity 1s ease 0s,transform 1s ease 0s; }
    .hv-scale img:hover {
      transform: scale3d(1.1, 1.1, 1); }

.hv-scale2 {
  overflow: hidden;
  display: block; }
  .hv-scale2 img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .hv-scale2:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.hv-light {
  display: block;
  position: relative;
  overflow: hidden;
  background: inherit; }
  .hv-light:before, .hv-light:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    pointer-events: none; }
  .hv-light:before {
    right: 0;
    bottom: 0;
    background: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .hv-light:after {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.75s ease-in-out;
    -moz-transition: 0.75s ease-in-out;
    -ms-transition: 0.75s ease-in-out;
    -o-transition: 0.75s ease-in-out;
    transition: 0.75s ease-in-out;
    -webkit-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -moz-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -o-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -ms-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0); }
  .hv-light:hover:before {
    background: rgba(0, 231, 242, 0); }
  .hv-light:hover:after {
    -webkit-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -moz-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -o-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -ms-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0); }

.hv-bright {
  display: block;
  position: relative; }
  .hv-bright img {
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    filter: brightness(0.5); }
  .hv-bright:hover img {
    filter: brightness(1);
    box-shadow: -1px 7px 30px -30px #0282ac; }

.hv-bright2 {
  position: relative;
  overflow: hidden;
  margin: 0;
  filter: brightness(0.75); }
  .hv-bright2:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    opacity: 0; }
  .hv-bright2:hover {
    animation: bloom ease-in-out 1.75s forwards; }
    .hv-bright2:hover:before {
      animation: circle 1.75s; }
  .hv-bright2 img {
    width: 100%;
    height: 100%; }

.hv-scaleX {
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  -ms-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out; }
  .hv-scaleX:hover {
    transform: scaleX(-1); }

.hv-cross {
  display: block;
  position: relative; }
  .hv-cross:before, .hv-cross:after {
    content: "";
    background: rgba(243, 238, 238, 0.45);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .hv-cross:before:hover:before, .hv-cross:after:hover:before {
      opacity: 1;
      top: 50%;
      bottom: 50%; }
    .hv-cross:before:hover:after, .hv-cross:after:hover:after {
      opacity: 1;
      left: 50%;
      right: 50%; }

.hv-shine {
  position: relative;
  overflow: hidden;
  display: block; }
  .hv-shine:before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 1;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg); }
  .hv-shine:hover:before {
    -webkit-animation: shine 1s;
    -moz-animation: shine 1s;
    -ms-animation: shine 1s;
    -o-animation: shine 1s;
    animation: shine 1s; }

.hv-title {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .hv-title:hover {
    color: #336699 !important; }

.hv-line a, .hv-line-pro a {
  position: relative; }
  .hv-line a:before, .hv-line-pro a:before {
    content: '';
    position: absolute;
    top: unset;
    right: 50%;
    bottom: 0;
    left: 50%;
    opacity: 0;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 1px;
    z-index: 2; }
.hv-line:hover a:before, .hv-line-pro:hover a:before {
  left: 0;
  right: 0;
  opacity: 1; }

.hv-line2 a {
  position: relative; }
  .hv-line2 a:before {
    content: '';
    position: absolute;
    top: 100%;
    right: 100%;
    bottom: unset;
    left: 0;
    opacity: 0;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 1px; }
.hv-line2:hover a:before {
  right: 0;
  opacity: 1; }

.s-content ol {
  list-style: decimal;
  margin-left: 15px;
  margin-bottom: 10px; }
.s-content ul {
  list-style: initial;
  margin-left: 15px;
  margin-bottom: 10px; }
.s-content li {
  list-style: inherit;
  margin-bottom: 5px; }
.s-content p {
  margin-bottom: 10px; }
.s-content img {
  display: inline-block;
  max-width: 100%;
  margin: 10px 0;
  object-fit: none; }
.s-content table, .s-content iframe {
  max-width: 100%; }
.s-content table {
  border-collapse: collapse;
  width: 100%;
  border: solid 1px #ebebeb; }
  .s-content table td {
    border-collapse: collapse;
    border: solid 1px #ebebeb;
    padding: 3px; }
.s-content h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }
.s-content h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }
.s-content h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }
.s-content h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }
.s-content h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }
.s-content h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.fixed {
  position: fixed !important;
  top: 0;
  left: 0 !important;
  background: #333 !important; }

@keyframes fixed_top {
  0% {
    top: -100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  100% {
    top: 0%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; } }
.fixed_top {
  position: fixed;
  top: 0;
  right: 0;
  bottom: unset;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  animation: fixed_top 0.5s ease-in-out;
  z-index: 5;
  background: rgba(1, 165, 81, 0.9); }

.fixed-btn {
  position: fixed !important;
  animation: slideDown 0.4s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  visibility: visible !important; }

@keyframes slideDown {
  0% {
    top: -100%;
    transition: 0.3s all ease-in-out; }
  100% {
    top: 0%;
    transition: 0.3s all ease-in-out; } }
.text1line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.text2line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.text3line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

@keyframes shine {
  100% {
    left: 125%; } }
@keyframes lac {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg); }
  20% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg); }
  30% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg); }
  40% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-webkit-keyframes lac {
  0% {
    -webkit-transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(-25deg); }
  20% {
    -webkit-transform: rotate(25deg); }
  30% {
    -webkit-transform: rotate(-25deg); }
  40% {
    -webkit-transform: rotate(25deg); }
  50% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@keyframes zoomin {
  0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    -ms-transform: scale(2.2);
    transform: scale(2.2);
    opacity: .1; } }
@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    -ms-transform: scale(2.2);
    transform: scale(2.2);
    opacity: .1; } }
@keyframes zoomout {
  0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .3; } }
@-webkit-keyframes zoomout {
  0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .3; } }
@keyframes bloom {
  0% {
    filter: grayscale(0.4); }
  40% {
    filter: grayscale(0.2); }
  100% {
    filter: grayscale(0); } }
@keyframes circle {
  0% {
    opacity: .5;
    background: rgba(213, 156, 34, 0.2); }
  40% {
    opacity: 1;
    background: rgba(213, 34, 160, 0.2); }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }
@keyframes slideUp {
  0% {
    transform: translateY(20px); }
  100% {
    transform: translateY(0); } }
.slideUp {
  animation-name: slideUp; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: lighter;
  font-display: swap; }
@font-face {
  font-family: 'Lora';
  src: url("../fonts/Lora/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap; }
@font-face {
  font-family: 'Lora';
  src: url("../fonts/Lora/Lora-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap; }
@font-face {
  font-family: 'Brush';
  src: url("../fonts/brush-script-mt/BRUSHSCI.ttf") format("truetype");
  font-weight: normal;
  font-display: swap; }
object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit; }

b, strong, th {
  font-weight: bold; }

i, em {
  font-style: italic; }

sub, sup {
  font-size: 75%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 20px 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  outline: none; }

ol, ul, li {
  padding: 0;
  list-style: none;
  margin: 0; }

label {
  font-weight: normal; }

input[type="text"], input[type="email"], input[type="password"] {
  padding-left: 12px;
  padding-right: 12px; }

select {
  padding-left: 8px; }

input[type="number"] {
  padding-left: 5px; }

textarea {
  padding: 8px 12px 5px 12px; }

input, textarea, select, button, a {
  outline: none; }

button {
  border: none;
  background: none;
  padding: 0; }

* {
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-top: constant(safe-area-inset-top); }

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover; }

button:focus {
  color: #51965b;
  outline: none; }

form input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc; }

form input::-moz-placeholder, textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc; }

form input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #cccccc; }

form input:-moz-placeholder, textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc; }

input, input:focus {
  outline: none; }

textarea, textarea:focus {
  outline: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.smooth {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.hv-line-pro:before {
  background: linear-gradient(to right, #76a846, #51965b); }

.text_black {
  color: #000; }

.text_gray {
  color: #666666; }

.text_underline {
  text-decoration: underline !important; }

.text_gray {
  color: #b4b4b4; }

.vh-20 {
  height: 20vh !important; }

.vh-25 {
  height: 25vh !important; }

.vh-50 {
  height: 50vh !important; }

.min-w-35 {
  min-width: 35% !important; }

.f_0 {
  font-size: 0; }

.f_08 {
  font-size: .8rem; }

.f_1 {
  font-size: 1rem; }

.f_1-2 {
  font-size: 1.2rem; }

.f_1-4 {
  font-size: 1.4rem; }

.f_1-5 {
  font-size: 1.5rem; }

.f_1-6 {
  font-size: 1.6rem; }

.f_1-7 {
  font-size: 1.7rem; }

.f_1-8 {
  font-size: 1.8rem; }

.f_2 {
  font-size: 2rem; }

.f_2-2 {
  font-size: 2.2rem; }

.f_2-3 {
  font-size: 2.3rem; }

.f_2-4 {
  font-size: 2.4rem; }

.f_2-5 {
  font-size: 2.5rem; }

.f_2-6 {
  font-size: 2.6rem; }

.f_2-8 {
  font-size: 2.8rem; }

.f_3 {
  font-size: 3rem; }

.f_3-2 {
  font-size: 3.2rem; }

.f_3-4 {
  font-size: 3.4rem; }

.f_3-5 {
  font-size: 3.5rem; }

.f_3-6 {
  font-size: 3.6rem; }

.f_3-8 {
  font-size: 3.8rem; }

.f_4-8 {
  font-size: 4.8rem; }

.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  clear: both; }

.bg-cover {
  background-size: cover !important; }

.bg-none {
  background: unset; }

.text-black {
  color: #000; }

.obj-cover {
  object-fit: cover; }

.border_radius-5px {
  border-radius: 5px !important;
  overflow: hidden; }

.icon:before {
  padding-right: 5px; }

.make {
  color: #336699; }

.icon-make:before {
  color: #336699; }

.icon-right:before {
  padding-right: 1rem; }

.f-icomoon {
  font-family: 'Roboto' !important; }
  .f-icomoon:before, .f-icomoon:after {
    font-family: "icomoon"; }

.f_playfair {
  font-family: 'PlayfairDisplay' !important; }

.f_regular {
  font-family: 'Regular'; }

.f_weight-500 {
  font-weight: 500; }

.after-line {
  position: relative; }
  .after-line:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: unset;
    background: rgba(51, 51, 51, 0.1);
    width: 1px; }

.img-opacity {
  position: relative; }
  .img-opacity:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2); }

.disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */ }

.slider {
  -webkit-appearance: none;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7; }
  .slider:hover {
    opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer; }

.disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */ }

.breadcrumb_r ul {
  font-size: 1.6rem;
  justify-content: center;
  background: none;
  font-family: 'Roboto';
  color: #000; }
  .breadcrumb_r ul li:after {
    content: '\e904';
    font-family: icomoon;
    margin: 0 .75rem; }
  .breadcrumb_r ul li:first-child:before {
    content: '\e934';
    font-family: icomoon; }
  .breadcrumb_r ul li:last-child:after {
    content: unset; }

.tiny-slider .items {
  position: relative; }
  .tiny-slider .items .bot_content {
    position: absolute;
    top: unset;
    right: 0;
    bottom: 0;
    left: 0; }

.parent {
  position: relative; }
  .parent .bot_content {
    position: absolute;
    top: unset;
    right: 0;
    bottom: 0;
    left: 0; }

@media all and (min-width: 992px) {
  #trans {
    transform: translate(0, -30px);
    margin-bottom: -30px; }

  .main-nav {
    font-family: 'Lora';
    font-size: 1.4rem;
    color: #fff; }
    .main-nav > ul {
      display: flex; }
      .main-nav > ul li {
        font-size: 1.6rem;
        margin-right: 1.5rem;
        position: relative; }
        .main-nav > ul li ul {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          z-index: 1;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          margin-top: .5rem;
          padding-top: .5rem;
          pointer-events: none;
          min-width: 22rem; }
          .main-nav > ul li ul li {
            background: #336699; }
            .main-nav > ul li ul li a {
              padding: 1rem;
              border-bottom: 1px solid #fff; }
          .main-nav > ul li ul ul {
            left: 100%;
            top: 0;
            padding-top: 0;
            padding-left: .5rem; }
        .main-nav > ul li a {
          display: block;
          padding: 1rem .75rem;
          position: relative;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          .main-nav > ul li a:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.3);
            opacity: 0;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
        .main-nav > ul li:hover > ul {
          opacity: 1;
          visibility: visible;
          margin-top: 0;
          pointer-events: all; }
        .main-nav > ul li:hover > a:before {
          opacity: 1; } }
@media all and (max-width: 1200px) {
  header .booking {
    display: none; } }
@media all and (max-width: 991px) {
  .main-nav {
    background: #336699;
    width: 400px;
    -webkit-transform: translate(-400px, 0);
    -ms-transform: translate(-400px, 0);
    transform: translate(-400px, 0);
    color: #fff;
    z-index: 5;
    position: fixed;
    top: 0;
    right: unset;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .main-nav.active {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
    .main-nav .logo-mobile img {
      height: 100px; }
    .main-nav > ul > li:first-child > a {
      border-top: 1px solid #fff; }
    .main-nav ul {
      text-align: left;
      width: 100%; }
      .main-nav ul > li {
        position: relative; }
        .main-nav ul > li a {
          display: block;
          padding: .75rem 1.5rem;
          border-bottom: 1px solid #fff;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          /* &:hover{
          	background: $c_main;
          	color: $c_w;
          } */ }
          .main-nav ul > li a img {
            padding-right: 5px; }
        .main-nav ul > li ul {
          display: none; }
          .main-nav ul > li ul li a {
            padding-left: 3rem;
            display: block; }
          .main-nav ul > li ul li ul a {
            padding-left: 6rem; }
    .main-nav .open-menu {
      color: #fff;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out; }
    .main-nav .rotate {
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }

  #btn-menu {
    position: absolute;
    z-index: 6;
    right: 2rem;
    top: 3rem;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    border: 1px solid #336699;
    height: 33px;
    width: 33px;
    text-align: center;
    line-height: 32px; }
    #btn-menu:before {
      font-size: 1.5rem;
      color: #336699; }
    #btn-menu.icon-x {
      border: 1px solid #336699; }
      #btn-menu.icon-x:before {
        color: #336699; }

  .logo img {
    height: 60px; } }
@media all and (max-width: 576px) {
  html {
    font-size: 55.5% !important; }

  nav.mobile-nav {
    width: 320px !important; }

  .banner .items img {
    height: 70vh; }

  .tns-outer .tns-controls button:before {
    z-index: 1;
    top: 30% !important;
    color: #007bff !important;
    background: rgba(255, 255, 255, 0.5); }
  .tns-outer .tns-controls button:last-child:before {
    right: unset !important;
    left: 0; }
  .tns-outer .tns-controls button:first-child:before {
    left: unset !important;
    right: 0; } }
html {
  font-size: 62.5%; }

body {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, Sans-Serif;
  line-height: 1.5;
  color: #747474;
  margin: auto; }

.f_lora {
  font-family: 'Lora'; }

.f_brush {
  font-family: 'Brush'; }

.f_roboto-light {
  font-family: 'Roboto';
  font-weight: lighter; }

.icon-text:before {
  content: url("../images/icon-text.png"); }

.icon_location:before {
  content: url("../images/icon-location.png"); }

.icon-left {
  position: relative; }
  .icon-left:before {
    position: absolute;
    right: 100%; }

.pt-20 {
  padding-top: 20% !important; }

iframe {
  z-index: 2; }

.w-35 {
  width: 35% !important; }

.font-caption {
  font: caption; }

table.table th {
  width: 42%; }

.icon_phone:after {
  content: url("../images/icon_phone.png");
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center; }

.btn_video:before {
  content: '\e92c';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'icomoon';
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
  font-size: 5rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.btn_video:hover:before {
  color: #336699; }

header #top {
  position: relative;
  border-top: 5px solid #336699;
  z-index: 2; }
  header #top .header_top {
    border-radius: 0px 30px;
    z-index: 2; }
    header #top .header_top:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 80%;
      z-index: 1;
      background: #336699; }
    header #top .header_top ._hotline {
      border-radius: 0px 30px;
      background: #c60;
      color: #fff;
      padding: 5px 15px 5px 50px;
      position: relative; }
      header #top .header_top ._hotline:before {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: -1; }
    header #top .header_top ._language {
      background: #336699; }
header .header_wrap {
  height: 100px; }
  header .header_wrap .header_top {
    position: relative;
    z-index: 2; }
    header .header_wrap .header_top ._hotline {
      border-radius: 0px 30px;
      background: #c60;
      color: #fff;
      padding: 5px 15px;
      position: relative; }
      header .header_wrap .header_top ._hotline:before {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: -1; }
    header .header_wrap .header_top ._language {
      background: #336699; }
header .booking {
  height: 100%;
  background: #cc6600;
  padding: 15px 40px;
  border-radius: 66px; }

.h-title {
  font-size: 3rem; }

.title {
  font-size: 1.6rem; }

.banner .tiny-slider .items img {
  width: 100vw; }

.bor {
  position: relative;
  margin-bottom: 60px; }
  .bor:before {
    content: url("../images/bor.png");
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: -26px;
    border-bottom: 1px solid; }

.show_all {
  padding: 1rem 2.5rem;
  background: #fff;
  position: relative;
  z-index: 1; }
  .show_all:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    bottom: unset;
    left: 0;
    opacity: 0;
    background: #336699;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 100%;
    z-index: -1; }
  .show_all:hover {
    color: #fff; }
    .show_all:hover:before {
      opacity: 1;
      right: -1rem; }
  .show_all .icon-angle-double-right {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 95%;
    background: #336699;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%); }

#service .items {
  position: relative; }
  #service .items .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    right: 50%;
    padding: 0 15px; }
#service .icon-angle-right {
  position: relative; }
  #service .icon-angle-right:before {
    content: "\e90a";
    position: absolute;
    bottom: -3.5rem;
    left: 1rem;
    border: 1px solid;
    border-radius: 100%;
    padding: 5px 10px;
    cursor: pointer; }

#cus .items.v1 {
  position: relative; }
  #cus .items.v1 .content {
    position: absolute;
    top: unset;
    right: 0;
    bottom: 0;
    left: 0; }
#cus .items.v2 {
  position: relative; }
  #cus .items.v2 .wrap {
    padding: 0 2rem 6rem; }
    #cus .items.v2 .wrap .avatar {
      z-index: 2; }
    #cus .items.v2 .wrap .s-content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      padding: 1.5rem .75rem;
      background: rgba(0, 0, 0, 0.7);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
  #cus .items.v2 .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #333 !important;
    top: 50%;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); }
  #cus .items.v2:hover .wrap .s-content {
    opacity: 1;
    visibility: visible; }
  #cus .items.v2:hover .content {
    background: #336699;
    color: #fff !important; }

.img-gradient:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
  z-index: 1; }

#video_shinbi .big_item .title, #video_shinbi .items .title {
  z-index: 2;
  position: absolute;
  top: unset;
  right: 0;
  bottom: 0;
  left: 0; }

.p-btn {
  padding: 1.5rem 3rem; }

.img_cirle {
  display: block; }
  .img_cirle img {
    border-radius: 100%;
    width: 90px;
    height: 90px; }

.tns-outer {
  position: relative; }
  .tns-outer .tns-controls {
    font-size: 0; }
    .tns-outer .tns-controls button:before {
      color: #333;
      font-size: 2rem;
      font-family: 'icomoon'; }
    .tns-outer .tns-controls button:last-child:before {
      position: absolute;
      top: 100%;
      left: 0;
      content: "\ea40"; }
    .tns-outer .tns-controls button:first-child:before {
      position: absolute;
      top: 100%;
      left: 5rem;
      content: "\ea3c"; }

.form-booking .input_ {
  position: relative; }
  .form-booking .input_ input, .form-booking .input_ textarea {
    border: none;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 3rem;
    border-radius: 10px; }
  .form-booking .input_ .icon-make:before {
    position: absolute;
    top: 0;
    right: unset;
    bottom: 0;
    left: 1rem;
    display: flex;
    align-items: center; }
.form-booking .input_.ta .icon-make:before {
  position: absolute;
  top: 3rem;
  right: unset;
  bottom: 0;
  left: 1rem;
  display: block; }

.form-find .wrap {
  position: relative;
  max-width: 300px; }
  .form-find .wrap input {
    border-radius: 50px;
    border: none;
    background: rgba(215, 220, 224, 0.67);
    padding: 1.5rem 2rem;
    width: 100%; }
  .form-find .wrap .icon-search {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    left: unset;
    font-size: 2rem; }

.bg-form {
  background: url("../images/contact/bg-form.png");
  position: relative; }
  .bg-form:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 102, 153, 0.8); }

#action-toolbar {
  position: fixed;
  top: 50%;
  right: 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: #000;
  z-index: 5; }
  #action-toolbar ul li {
    padding: 4rem .25rem 0;
    background: #fff;
    text-align: center;
    position: relative;
    z-index: 2; }
    #action-toolbar ul li:first-child {
      border-top: 2px solid #336699; }
    #action-toolbar ul li a {
      z-index: 2; }
      #action-toolbar ul li a:before {
        font-size: 2rem;
        position: absolute;
        top: 1rem;
        right: 0;
        bottom: unset;
        left: 0;
        display: flex;
        justify-content: center; }
    #action-toolbar ul li:last-child a:before {
      background: #ff6600;
      color: #fff !important;
      align-items: center;
      padding: 3rem 0;
      top: 0;
      bottom: 0; }
    #action-toolbar ul li span {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      width: 150px;
      display: flex;
      align-items: center;
      background: #336699;
      color: #fff;
      border-radius: 20px 0 0 20px;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      transform: translate(150px, 0);
      z-index: -1; }
    #action-toolbar ul li:hover span {
      opacity: 1;
      transform: translate(0, 0); }

.sub_banner {
  position: relative; }
  .sub_banner img {
    height: 25vh;
    width: 100vw; }
  .sub_banner h1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; }

.intro_page .tiny-slider .items .img_bg:after {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  left: 0;
  content: '';
  background: rgba(42, 124, 184, 0.67);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1; }
.intro_page .tiny-slider .items .img_bg:hover:after {
  opacity: 1; }
.intro_page .tiny-slider .items .info {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2; }
.intro_page .tiny-slider .items:hover .info {
  opacity: 1; }

footer ul li {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  footer ul li:hover {
    color: #ff6600; }

/*# sourceMappingURL=style.css.map */
